.stats-grid {
    display: flex;
    flex-direction: column;
    background: #141619;
    font-size: 20px;

    padding: 6px;
    margin: 0;
}

.stats-grid > div {
    flex-grow: 1;
    display: flex;
    max-width: 100%;
}

.stats-grid > div > div {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0px;
    overflow: hidden;
    /*border-radius: 5px;*/
}

.stats-grid > div > div div {
    margin: 6px;
    background: linear-gradient(120deg, rgb(90, 90, 90), rgb(115, 115, 115));
    padding: 1em;
    color: white;
}

.stats-grid > div > div.success div, .stats-grid > div > div.green div {
    background: linear-gradient(120deg, rgb(66, 154, 67), rgb(111, 183, 87));
}
.stats-grid > div > div.red div {
    background: linear-gradient(120deg, rgb(223, 20, 16), rgb(240, 49, 96));
}
.stats-grid > div > div.orange div {
    background: linear-gradient(120deg, rgb(226, 144, 0), rgb(255, 108, 22));
}
.stats-grid > div > div.blue div {
    background: linear-gradient(120deg, rgb(18, 74, 234), rgb(63, 156, 240));
}
.stats-grid > div > div.purple div {
    background: linear-gradient(120deg, rgb(172, 59, 200), rgb(159, 99, 211));
}
.stats-grid > div > div.yellow div {
    background: linear-gradient(120deg, rgb(211, 210, 5), rgb(249, 187, 17));
}

.stats-grid > div > div div:hover {
    filter: brightness(1.3);
}

.stats-grid h1, .stats-grid h2 {
    margin:0;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
}
.stats-grid h2 {
    /*text-transform: uppercase;*/
    font-weight: normal;
    font-variant: small-caps;
    font-size: 1em;
}
.stats-grid h1 {
    text-align: center;
    font-size: 3em;
    padding: 12px 0;
}

.stats-grid figcaption {
    color: white;
    font-size: 16pt;
    padding-bottom: 6px;
}